/* CSS RESETOVANJE */

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-primary: RGB(10, 39, 50);
  --color-secondary: RGB(23, 124, 125);
  --white: #ffffff;
  --black: #000000;
  --gray1: rgb(240, 240, 240);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* NAV BAR */
.nav-bar {
  height: 8rem;
  background-color: var(--color-primary);
  font-size: 4rem;
  color: var(--white);
  box-shadow: 0 5px 7px -5px #333;
}

.sticky {
  position: sticky;
}

.nav-bar__parts {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-left .fa-futbol {
  font-size: 5rem;
  margin-left: 2rem;
}

.nav-center {
  text-align: center;
}
/* Jumbo */
.container-fluid.welcome-text {
  height: 25rem;
  background-color: var(--white);
  color: var(--color-primary);
}

.welcome-h1 {
  font-size: 8rem;
  font-weight: bold;
  padding: 6rem 0rem;
}

.welcome-list__items {
  display: flex;
}

.welcome-list__item {
  margin-right: 2rem;
}
.welcome-list__item_anc {
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--color-secondary);
  border-radius: 1rem 1rem 0 0;
  font-size: 1.4rem;
}
/* MAIN */

.main-row {
  overflow: hidden;
}

.page-header {
  height: 8rem;
  width: 100%;
  background-color: var(--color-secondary);
}

.page-header > h2 {
  color: var(--white);
  height: 7rem;
  padding: 1.6rem 4rem;
  font-size: 3rem;
}
.page-text1 {
  width: 100%;
  background-color: var(--gray1);
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
}

.paragraf-text1 {
  margin: 1rem 0;
}
.dynamic-info {
  height: 10rem;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.players-selected__wrapper {
}
.row4 {
  height: 20rem;
  width: 20rem;
  background-color: darkmagenta;
}
.row5 {
  height: 20rem;
  width: 20rem;
  background-color: darkolivegreen;
}

.img-pitch {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
  transform: scale(1.1);
}
