/* CSS RESETOVANJE */

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-primary: RGB(10, 39, 50);
  --color-secondary: RGB(23, 124, 125);
  --white: #ffffff;
  --black: #000000;
  --gray1: rgb(240, 240, 240);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* NAV BAR */
.nav-bar {
  height: 8rem;
  background-color: var(--color-primary);
  font-size: 4rem;
  color: var(--white);
  box-shadow: 0 5px 7px -5px #333;
}

.sticky {
  position: sticky;
  top: 0;
}

.nav-bar__parts {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-left .fa-futbol {
  font-size: 5rem;
  margin-left: 2rem;
}

.nav-center {
  text-align: center;
}
/* Jumbo */
.container-fluid.welcome-text {
  height: 25rem;
  background-color: var(--white);
  color: var(--color-primary);
}

.welcome-h1 {
  font-size: 8rem;
  font-weight: bold;
  padding: 6rem 0rem;
}

.welcome-list__items {
  display: flex;
}

.welcome-list__item {
  margin-right: 2rem;
}
.welcome-list__item_anc {
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--color-secondary);
  border-radius: 1rem 1rem 0 0;
  font-size: 1.4rem;
}
/* MAIN */

.main-row {
  overflow: hidden;
}

.page-header {
  height: 8rem;
  width: 100%;
  background-color: var(--color-secondary);
}

.page-header > h2 {
  color: var(--white);
  height: 7rem;
  padding: 1.6rem 4rem;
  font-size: 3rem;
}
.page-text1 {
  width: 100%;
  background-color: var(--gray1);
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
}

.paragraf-text1 {
  margin: 1rem 0;
}
.dynamic-info {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
.players-selected__wrapper > h3 {
  font-size: 2.5rem;
  height: 100%;
}

.money-spent__wrapper > h3 {
  font-size: 2.5rem;
}

.players-selected__number {
  font-size: 4rem;
  color: red;
}

.money-spent {
  font-size: 4rem;
  color: var(--color-primary);
}

/* CONTENT */

.content-wrapper {
  background-color: var(--color-primary);
  background-image: url(images/pitch33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.content-wrapper ul {
  font-size: 2.2rem;
}

.view-selection-wrapper {
}

.view-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7rem;
  text-align: center;
}

.view-selection li {
  width: 15%;
  border: 2px solid #fff;
}

.view-selection-item {
  min-width: 15rem;
  cursor: pointer;
}

.selected-view {
  background-color: var(--color-secondary);
}

.content-wrapper a {
  text-decoration: none;
  color: #fff;
}

/* PITCH VIEW */

.pitch-grid {
  width: 100%;
  height: 100rem;
  color: white;
}

.row-cols-5 {
  text-align: center;
}

.cell-field {
  border: 1px solid white;
  width: 12%;
}
.row-gk {
  justify-content: center;
  height: 100%;
}
.row-def {
  justify-content: center;
  height: 100%;
}
.row-mid {
  justify-content: center;
  height: 100%;
}
.row-fwd {
  justify-content: center;
  height: 100%;
}

.gk-field {
  background-color: rgba(92, 42, 92, 0.274);
}
.def-field {
  background-color: rgba(78, 78, 24, 0.514);
}

.mid-field {
  background-color: rgba(0, 128, 0, 0.486);
}

.fwd-field {
  background-color: rgba(139, 0, 0, 0.507);
}

.probaa1 {
  max-width: 100%;
  max-height: 100%;
}
